<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Review Platform</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <h1>Welcome to the Book Review Platform</h1>
    <div>
      <a href="/users">Users</a>
      <a href="/books"> Books</a>
      <a href="/Review">Reviews </a>
    </div>
  </body>
</html>
