<!DOCTYPE html>
<html>
  <head>
    <title>Edit User</title>
  </head>
  <body>
    <h1>Edit User</h1>
    <form action="/users/<%= user._id %>?_method=PATCH" method="POST">
      <label for="username">Username:</label>
      <input
        type="text"
        name="username"
        id="username"
        value="<%= user.username %>"
        required
      />
      <label for="email">Email:</label>
      <input
        type="email"
        name="email"
        id="email"
        value="<%= user.email %>"
        required
      />
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" />
      <button type="submit">Update User</button>
    </form>
    <a href="/users/<%= user._id %>">Cancel</a>
  </body>
</html>
